$blue-dark: #1a6be6;
$blue-mid: #17c0f3;
$blue-light: #cbebfa;

$purple-dark: #971fe7;
$purple-mid: #ea44f6;
$purple-light: #f3caff;

$yellow-dark: #ffad23;
$yellow-mid: #fadd45;
$yellow-light: #fdeec1;

$pink-dark: #f91d67;
$pink-mid: #ff61a6;
$pink-light: #ffd1e0;

$green-dark: #01b83e;
$green-mid: #6ae038;
$green-light: #bbf0b9;

$orange-dark: #ff581b;
$orange-mid: #ff9326;
$orange-light: #ffe1c3;

$grey-dark: #38383c;
$grey-mid: #606066;
$grey-light: #b0b0b8;

$primary: #1a6be6;
$secondary: #17c0f3;
$success: #01b83e;
$info: #ea44f6;
$warning: #fadd45;
$danger: #ff581b;
$white: #ffffff;
$black: #000000;
$light: #fafafa;
$dark: #1d1d1f;
